/*==================== MAIN ==================*/

body {
    min-width: 320px;
    font-family: 'Roboto Slab', sans-serif;
}


h1 {
    font-size: 48;
    color: #735440;
}

html, body{
    height: 100%;
}

.lives_bg{
    position: absolute;
    width: 2920px;
    height: 850px;
}

.play_b{
    position: relative;
    top: 685px;
    left: 575px;
    z-index: 1;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper2{
    min-height: 100%;
    display: flex;
    flex-direction: column;  
}

/*==================== MAIN ==================*/

/*==================== MAIN CLASSES =================*/

main.main{
    position: absolute;
    top: 850px;
}

main.main2{
    background-color: #f7f7f7;
    width: 2000px;
    position: absolute;
    top: 1150px;
}

main.main3{
    flex: 1 1 auto;
    width: 2000px;
    background-color: #EDEDED;
    position: absolute;
    top: 2300px;
}

/*==================== MAIN CLASSES =================*/

/*==================== MAIN CLASSES TOM ALL =================*/

main.main-1{
    width: 100%;
    background-color: #faf9de;
}



/*==================== MAIN CLASSES TOM ALL =================*/

/*==================== TABLE SETINGS =================*/

.col-md-6 h1{
    position: relative;
    top: 140px ;
    left: 400px;
    font-size: 64px;
    color: #324950;
    font-weight: 700;
}

.col-md-6 p{
    position: relative;
    top: 25px;
    left: 410px;
    font-size: 20px;
    width: 500px;
}

.col-md-6 img{
    position: relative;
    left: 20px;
}

.col-md-6 .dots img{
    position: relative;
    top: 145px;
    left: 410px;
}

.col-md-6 .p-g img{
    position: relative;
    left: 360px;
}

.col-md-6 .ms_h h1{
    position: relative;
    left: 60px;
    font-weight: 700;
}

.col-md-6 .text_ms p{
    position: relative;
    top: 150px;
    left: 60px;
}

.col-md-6 .dots-ms img{
    position: relative;
    top: 140px;
    left: 60px;
}

.mid-bottom .row{
    position: relative;
    top: -40px;
}

.h1_A-m h1{
    font-size: 64px;
    color: #324950;
    padding-top: 70px;
    position: relative;
    left: 590px;
    font-weight: 700;

}

.img-mul{
    position: relative;
    left: 960px;
}

.img-hlop img{
    position: relative;
    left: 420px;
}

.h3-hlop h3{
    font-size: 24px;
    color: #57984C;
    position: relative;
    left: 480px;
    top: -25px;
    text-decoration: underline;
    text-underline-offset: 30px; /* Отступ от текста */
    text-decoration-thickness: 1px; /* Толщина линии */


}

.p-hlop p{
    position: relative;
    top: 5px;
    left: 285px;
    text-align: center;
}

.img-pom img{
    position: relative;
    left: 200px;
}

.h3-pom h3{
    font-size: 24px;
    color: #57984C;
    position: relative;
    left: 220px;
    top: 5px;
    text-decoration: underline;
    text-underline-offset: 30px; /* Отступ от текста */
    text-decoration-thickness: 1px; /* Толщина линии */

}

.p-pom p{
    position: relative;
    top: 35px;
    left: 0px;
    text-align: center;
}

.img-son img{
    position: relative;
    top: 40px;
    left: -100px;
}

.h3-son h3{
    font-size: 24px;
    color: #57984C;
    position: relative;
    left: -60px;
    top: 25px;
    text-decoration: underline;
    text-underline-offset: 30px; /* Отступ от текста */
    text-decoration-thickness: 1px; /* Толщина линии */

}

.p-son p{
    position: relative;
    top: 55px;
    left: -275px;
    text-align: center;
}

/*==================== TABLE SETINGS =================*/

/*==================== SETINGS TOM ALL=================*/

.bg-banan img{
    width: 1920px;
    height: 480px;
}

.h1t h1{
    text-align: center;
    font-size: 44px;
    color: #324950;
    margin-top: 40px;
}

.dots-t img{
    margin-top: 30px;
    margin-left: 545px;
}

.first_parag p{
    margin-top: 30px;
    margin-left: 545px;
}

.second_parag p{
    margin-top: 30px;
    margin-left: 545px;
}

.third_parag p{
    margin-top: 30px;
    margin-left: 545px;
}

.parag_palka p{
    border-left: solid #eee23e;
    padding-left: 20px;
    margin-top: 30px;
    margin-left: 545px;
}

.arg_p{
    border-left: solid #eee23e;
    padding-left: 20px;
    margin-top: 30px;
    margin-left: 545px;
}

p.tag_name{
    font-size: 20px;
    color: chocolate;
}

p.tag_t_sh{
    font-size: 16px;
    color: chocolate;
}

img.ban_img{
    height: 300px;
    width: 300px;
}

.main3-1 .container-fluid{
    margin-top: 2.5%;
    margin-left: 0%;
    margin-right: 0%;
    width: 1050px;
    position: relative;
    left: 28%;
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.main3-1 .col-md-4{
    width: 210px;
}

.p_tag{
    margin-top: 3%;
    margin-bottom: 10%;
    text-align: center;
}

p.tag_name{
    margin-bottom: 0%
}

.group-cols{
    width: 1152px;
    height: 450px;
    margin-left: 500px;
    background-color: #FFFFFF;
    margin-top: 4%;
}

.g_hos, .op_f{
    font-family: Roboto Slab;
    font-size: 20px;
    line-height: 143%;
    letter-spacing: 0%;
    color: #324950;
    margin-left: 4%;
    margin-top: 10%;
}

.under_line{
    margin-left: 4%;
}

.ghos_t, .op_f_t{
    font-family: Roboto Slab;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #324950;
    margin-left: 4%;
    margin-top: 2%;
}

.tag853, .tag834{
    margin-left: 475px;
    margin-top: 30px;
}

.tag898{
    margin-top: 30px;
    margin-left: 450px;
}

.tag855, .tag848{
    margin-left: 240px;
    margin-top: 30px;
}

.tag809, .tag800{ 
       margin-top: 30px;
}

.tag816{
    margin-left: -100px;
    margin-top: 30px;
}



/*==================== SETINGS TOM ALL=================*/

/*==================== PRODUCTS ======================*/

.Wheat{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 43px;
    margin-left: 174px;
}

.Wheat p{
    font-size: 20px;
    color: #324950;
    margin-top: 15px;
}

.C_Wm{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 43px;
    margin-left: 120px;
}

.C_Wm p{
    font-size: 20px;
    color: #324950;
    margin-top: 15px;
}

.clov{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 43px;
    margin-left: 120px;
}

.clov p{
    font-size: 20px;
    color: #324950;
    margin-top: 15px;
}

.C_Sun{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 43px;
    margin-left: 120px;
}

.C_Sun p{
    font-size: 20px;
    color: #324950;
    margin-top: 15px;
}

.tomato{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 43px;
    margin-left: 120px;
}

.tomato p{
    font-size: 20px;
    color: #324950;
    margin-top: 15px;
}

.E_plant{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 43px;
    margin-left: 120px;
}

.E_plant p{
    font-size: 20px;
    color: #324950;
    margin-top: 15px;
}

.Ort_SunF{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 43px;
    margin-left: 120px;
}

.Ort_SunF p{
    font-size: 20px;
    color: #324950;
    margin-top: 15px;
}

/*==================== PRODUCTS ======================*/