<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/middle.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/responsive.css">
    <title>Banana all</title>
</head>
<body>

    <div id="cl_ban" class="wrapper2">

      <div class="burger">
        <input id="burger-toggle"  type="checkbox">
        <label for="burger-toggle">
            <span></span>
        </label>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a>Company Profile</a></li>
                <li><a href="tom_all.html">Products</a></li>
                <li><a>Services</a></li>
                <li><a>R & D</a></li>
                <li><a href="contact_us.html">Contact</a></li>
            </ul>
        </nav>
    </div>
    
        <header class="header">
            <div class="header-top py-4">
                <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-3">
                          <img src="images/Logo.png" alt="Logo">
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-5">
                          <input class="search" type="text" placeholder="Search">
                         <button class="s-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                         </button> 
                         <nav>
                          <ul class="navpanel">
                              <li><a href="index.html">Home</a></li>
                              <li><a href="#">Company Profile</a></li>
                              <li><a href="tom_all.html">Products</a></li>
                              <li><a href="#">Services</a></li>
                              <li><a href="#">R & D</a></li>
                              <li><a href="contact_us.html">Contact</a></li>
                          </ul>
                         </nav>
                      </div>
                  </div>
                </div>  
              </div>
        </header>
        <div class="bg-banan">
            <img src="images/banan_bg.jpg" alt="BG-BANAN">
        </div>
        <main class="main-1">
            <div class="m-top">
                <div class="h1t">
                    <h1>Agridera Fresh Market Banana Hybrids</h1>
                </div>
                <div class="dots-t">
                    <img src="images/multiki.png" alt="dots">
                </div>
                <div class="first_parag">
                    <p>Agridera aims to become one of the world's leading companies in the breeding, production, and marketing of banana seeds. We invest<br> 
                      intensively in research and development to provide solutions for growers and consumers in numerous countries worldwide.<br> 
                      In particular, we breed improved disease-resistant cultivars adapted to different markets.</p>
                </div>
                <div class="second_parag">
                    <p>Currently, the main focus is on combining resistance to Banana Bunchy Top Virus (BBTV) and Panama Disease (TR4)<br>
                      with other soil-borne diseases in high-quality banana breeding lines and hybrids. Moreover, comprehensive research is being conducted to<br>
                      develop varieties resistant to new strains of fungal and viral diseases.

                    </p>
                </div>
                <div class="third_parag">
                    <p>In terms of horticultural traits, breeding efforts are aimed at early maturity, different fruit sizes, firmness, bright yellow color, flavor, crack<br>
                       resistance, extended shelf life, and adaptation to high and low temperatures. Combinations of quality features and disease resistance are sought<br>
                      in various types of bananas, including dessert and cooking varieties. </p>
                </div>
                <div class="parag_palka">
                    <p>Agridera's banana breeding programs are focusing on three main segments: Greenhouse Bananas,<br>
                      Open-field Bananas, and Dwarf Bush-type Bananas.</p>
                </div>
            </div>
        </main>
        <div class="group-cols">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <div class="g_hos">
                   <b> Greenhouse Banana Breeding Program</b>
                  </div>

                  <img src="images/Line 2.png" alt="" class="under_line">

                  <div class="ghos_t">
                    This breeding program is aimed at the Spanish and Turkish markets. It focuses on both single and cluster harvesting, with an emphasis on round fruit shape and resistance to BBTV (Banana Bunchy Top Virus), TR4 (Tropical Race 4 – Panama Disease), nematodes, and Fusarium wilt. Some hybrids may include additional resistances, such as Black Sigatoka and bacterial wilt. 
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="op_f">
                   <b> Open-field<br> Bananas</b>
                  </div>

                  <img src="images/Line 2.png" alt="" class="under_line">

                  <div class="op_f_t">
                    This breeding program is designed for the Brazilian, Moroccan, and Turkish markets. The main focus is on large-sized bananas (200 grams or more) with resistance to BBTV (Banana Bunchy Top Virus), TR4 (Tropical Race 4 – Panama Disease), nematodes, and Fusarium wilt. In the near future, resistance to Foc R3 (Fusarium oxysporum f.sp. cubense Race 3) will be included as a standard trait in our cultivars.
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="op_f">
                   <b> Open-field Bush-type<br> Bananas</b>
                  </div>

                  <img src="images/Line 2.png" alt="" class="under_line">

                  <div class="op_f_t">
                    This breeding program is designed for Mediterranean markets. We develop both round and elongated banana varieties, with standard sizes (140–180 grams) and larger fruit sizes (minimum 180 grams, reaching up to 300 grams or more). We incorporate resistance to BBTV (Banana Bunchy Top Virus), TR4 (Tropical Race 4 – Panama Disease), and nematodes as basic resistances in our hybrids. However, some hybrids may also include additional resistances, such as Black Sigatoka and bacterial wilt.
                  </div>
                </div>
              </div>
            </div>
          </div>

        <main class="main3-1">
            <div class="arg_p">
                <p><b>Agridera operates through international and local distributers around the world.</b> </p>
            </div>
            <div class="container-fluid" v-if="products.length">
                <div class="row">
                  <div class="col-md-4" v-for="p in products" :key="p.id">
                    <a :href="'tom_one.html#'+p.id"><img v-bind:src="p.image"  alt="" class="ban_img"></a>
                    <div class="p_tag">
                      <a :href="'tom_one.html#'+p.id"><p class="tag_name"><b>{{p.title}}</b></p>
                      <p class="tag_t_sh">{{p.short_text}}</p></a>
                    </div>
                  </div>
                </div>
              </div>
    
        </main>
        <footer class="footer_t-a">
            <section class="footer_f">
                <div class="container-fluid">
                  <div class="row">
                        <div class="col-md-6">
                            <div class="fotter_list">
                                <ul class="footer_list_i">
                                    <li class="pro">PROFOLE</li>
                                    <li class="mag">MANAGEMENT</li>
                                    <li class="prod">PRODUCTS</li>
                                    <li class="rd">R&D</li>
                                    <li class="link">LINKS</li>
                                    <li class="s-map">SITEMAP</li>
                                    <li class="cont">CONTACTS</li>
                                </ul>
                            </div>
                        </div>
        
                        <div class="col-md-6">
                            <div class="footer_img">
                                <ul class="footer_img_list">
                                  <li class="in"><a href="#"><img src="images/Ico_in.png" alt="in"></a></li>
                                  <li class="inst"><a href="#"><img src="images/Ico_inst.png" alt="inst"></a></li>
                                  <li class="y_t"><a href="#"><img src="images/Ico_tube.png" alt="tube"></a></li>
                                  <li class="tw"><a href="#"><img src="images/Ico_tw.png" alt="tw"></a></li>
                                  <li class="fb"><a href="#"><img src="images/Ico_fb.png" alt="fb"></a></li>
                                </ul>
                            </div>
                        </div>
                  </div>
                </div>
            </section>
              <p>AGRIDERA SEEDS & AGRICULTURE LTD. © 2025</p>
        </footer>
    </div>
    
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>