<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/tom_one_style.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/responsive.css">
    <title>Tomato one</title>
</head>
<body>

    <div class="burger">
        <input id="burger-toggle"  type="checkbox">
        <label for="burger-toggle">
            <span></span>
        </label>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a>Company Profile</a></li>
                <li><a href="tom_all.html">Products</a></li>
                <li><a>Services</a></li>
                <li><a>R & D</a></li>
                <li><a href="contact_us.html">Contact</a></li>
            </ul>
        </nav>
    </div>

    <header class="header">
        <div class="header-top py-4">
            <div class="container-fluid">
              <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-3">
                      <img src="images/Logo.png" alt="Logo">
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-5">
                      <input class="search" type="text" placeholder="Search">
                     <button class="s-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                     </button> 
                     <nav>
                      <ul class="navpanel">
                          <li><a href="index.html">Home</a></li>
                          <li><a href="#">Company Profile</a></li>
                          <li><a href="tom_all.html">Products</a></li>
                          <li><a href="#">Services</a></li>
                          <li><a href="#">R & D</a></li>
                          <li><a href="contact_us.html">Contact</a></li>
                      </ul>
                     </nav>
                  </div>
              </div>
            </div>  
          </div>
    </header>

    <div id="cl_ban" class="banan_kind" v-if="product.id">
        <div class="ret_button">
           <a href="tom_all.html">← Return to all bananes</a>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <div class="zagal">
                        <h1>{{product.title}}</h1>
                        <div class="und_zagal">
                            <h1>{{product.short_text}}</h1>
                        </div>
                    </div>
                    <div class="dots">
                        <img src="images/multiki.png" alt="dots">
                    </div>
                    <div class="pechat">
                        <ul class="elem_pechat">
                            <li class="elem_img"><img src="images/banan_pehat.png" alt="pom_pch"></li>
                            <li class="elem_text"><p><b>Very high yield and<br> excellent fruits quality!</b></p></li>
                        </ul>
                    </div>
                    <div class="l_pareh">
                        <div class="chara">
                            <h2><b>CHARACTERISTICS</b></h2>
                        </div>

                        <img src="images/Line 4.png" alt="und_line" class="und_line">

                        <div class="ch_list">
                            <ul class="elem_ch">
                                <li class="res"><b>Resistance</b></li>
                                <li class="hr">HR: TR4 (Tropical Race 4 Fusarium wilt);<br>
                                    BBTV (Banana Bunchy Top Virus).</li>
                                <li class="ir">IR: Black Sigatoka (Mycosphaerella fijiensis);<br>
                                 Bacterial Wilt (Xanthomonas campestris).</li>
                            </ul>
                        </div>

                        <div class="plant">
                            <h2><b>Plant</b></h2>
                        </div>

                        <img src="images/Line 4.png" alt="und_line" class="und_line">

                        <div class="pl_list">
                            <ul class="elem_pl">
                                <li class="strong"><span class="pl_li">Strong vigor that provides good leaf coverage.</span></li>
                                <li class="v_high"><span class="pl_li">Very high productivity with good fruit setting.</span></li>
                                <li class="early"><span class="pl_li">Early matured variety.</span></li>
                            </ul>
                        </div>

                        <div class="fruit">
                            <h2><b>Fruit</b></h2>
                        </div>

                        <img src="images/Line 4.png" alt="und_line" class="und_line">

                        <div class="fr_list">
                            <ul class="elem_fr">
                                <li class="l_shelf"><span class="fr_li">{{product.fr_s1}}</span></li>
                                <li class="n_shiny"><span class="fr_li">{{product.fr_c2}}</span></li>
                                <li class="aver"><span class="fr_li">{{product.fr_c3}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="im_pom_pgf">
                        <img v-bind:src="product.image" alt="ban_t">
                    </div>

                    <div class="pdf_button">
                        <button class="pdf_b">
                            <ul class="elem_pd_b">
                                <li class="elem_img_pd"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M0 24C0 10.7 10.7 0 24 0L69.5 0c22 0 41.5 12.8 50.6 32l411 0c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3l-288.5 0 5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5L488 336c13.3 0 24 10.7 24 24s-10.7 24-24 24l-288.3 0c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5L24 48C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg></li>
                                <a href="#" @click.prevent="addToCart(product.id)" v-if="!btnVisible"><li class="elem_text_pd"><p><b>Add to cart</b></p></li></a>
                                <a href="contact_us.html" v-if="btnVisible"><li class="elem_text_pd"><p><b>Go to cart</b></p></li></a>
                            </ul>
                        </button>
                    </div>

                    <div class="cycle">
                        <h2><b>Cycle</b></h2>
                    </div>

                    <img src="images/Line 4.png" alt="und_line" class="und_line">

                    <div class="cl_list">
                        <ul class="elem_cl">
                            <li class="sp"><span class="cl_li">Spring</span></li>
                            <li class="fall"><span class="cl_li">Summer</span></li>
                        </ul>
                    </div>

                    <div class="color">
                        <h2><b>Color</b></h2>
                    </div>

                    <img src="images/Line 4.png" alt="und_line" class="und_line">

                    <div class="col_list">
                        <ul class="elem_col">
                            <li class="red">{{product.color}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer class="footer_t-o">
        <section class="footer_f">
            <div class="container-fluid">
              <div class="row">
                    <div class="col-md-6">
                        <div class="fotter_list">
                            <ul class="footer_list_i">
                                <li class="pro">PROFOLE</li>
                                <li class="mag">MANAGEMENT</li>
                                <li class="prod">PRODUCTS</li>
                                <li class="rd">R&D</li>
                                <li class="link">LINKS</li>
                                <li class="s-map">SITEMAP</li>
                                <li class="cont">CONTACTS</li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="col-md-6">
                        <div class="footer_img">
                            <ul class="footer_img_list">
                              <li class="in"><a href="#"><img src="images/Ico_in.png" alt="in"></a></li>
                              <li class="inst"><a href="#"><img src="images/Ico_inst.png" alt="inst"></a></li>
                              <li class="y_t"><a href="#"><img src="images/Ico_tube.png" alt="tube"></a></li>
                              <li class="tw"><a href="#"><img src="images/Ico_tw.png" alt="tw"></a></li>
                              <li class="fb"><a href="#"><img src="images/Ico_fb.png" alt="fb"></a></li>
                            </ul>
                        </div>
                    </div>
              </div>
            </div>
        </section>
          <p>AGRIDERA SEEDS & AGRICULTURE LTD. © 2025</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>